{% extends "base.html" %}

{% block text %}
    <p class="content-file" id="text_brut">
        {% for template in templates.values() %}
            {{ template.content }}
        {% endfor %}
    </p>
{% endblock %}

{% block inputs %}

    <form class="form-load" action="{{ url_for('complete_file') }}" method="POST">
        {% for key, template in templates.items() %}
            <div class="template-header">
                <h3>{{ template.title }}</h3>
                <button type="submit" formaction="{{ url_for('delete_file', key=key) }}">Supprimer</button>
            </div>
            <div class="input-container">
                {% if template.imported %}
                    {% for var, value in (template.getDict()).items() %}
                        <label for="{{ var }}">{{ var }} : </label>
                        <input type="text" name="{{ key }}_{{ var }}" id="{{ key }}_{{ var }}" placeholder="Entrez une valeur pour {{ var }}" value="{{ value }}">
                    {% endfor %}
                {% else %}
                    {% for var in template.getDict() %}
                        <label for="{{ var }}">{{ var }} : </label>
                        <input type="text" name="{{ key }}_{{ var }}" id="{{ key }}_{{ var }}" placeholder="Entrez une valeur pour {{ var }}" >
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit">Soumettre</button>
    </form>
{% endblock %}
