{% extends "base.html" %}


{% block content %}
<div>
    <p id="textBrut"></p>
        <p class="content-file" id="text_brut">
            {% for template in templates.values() %}
                {{ template.content }}
            {% endfor %}
        </p>
    {% endblock %}
</div>
</div id="fieldsContainer">
    <form action="{{ url_for('update_file') }}" method="POST" enctype="multipart/form-data">
        <select name="key" id="key">        
            {% for key, template in templates.items() %}
                {% if template.getDict() != {} %}
                    <option value="{{ key }}">{{ template.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="file" name="file" required/>
        <button type="submit">Importer</button>
    </form>

    <form class="form-load" action="{{ url_for('complete_file') }}" method="POST">
        {% for key, template in templates.items() %}
            <div class="template-header">
                <h3>{{ template.title }}</h3>
                <button type="submit" formaction="{{ url_for('delete_file', key=key) }}">Supprimer</button>
            </div>
            <div class="input-container">
                {% if template.imported %}
                    {% for var, value in (template.getDict()).items() %}
                        <label for="{{ var }}">{{ var }} : </label>
                        <input type="text" name="{{ key }}_{{ var }}" id="{{ key }}_{{ var }}" placeholder="Entrez une valeur pour {{ var }}" value="{{ value }}">
                    {% endfor %}
                {% else %}
                    {% for var in template.getDict() %}
                        <label for="{{ var }}">{{ var }} : </label>
                        <input type="text" name="{{ key }}_{{ var }}" id="{{ key }}_{{ var }}" placeholder="Entrez une valeur pour {{ var }}" >
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit">Soumettre</button>
    </form>
</div>

{% endblock %}